/*variable colors */

@primary-color: #444;
@primary-text-color: #fff;
@secondary-color: #34b3c7;
@secondary-text-color: #000;

@panel-color: #2480b0;
@background-color-a: #005fa9;
@background-color-b: #00417a;
@background-color-b-hover: #012f51;

@button-background-color-a: #d3d6dd;
@button-background-color-b: #8c8e92;
@button-background-color-c: #6a6c7a;

.tb-gradient(@start, @stop) {

  background: -webkit-linear-gradient(-90deg,
                               @start,
                               @stop);
  background: -ms-linear-gradient(-90deg,
                                  @start,
                                  @stop);
  background: -moz-linear-gradient(-90deg,
                                   @start,
                                   @stop);
  background: -o-linear-gradient( -90deg,
                                  @stop,
                                  @start);
  filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@stop,@start));
}

.border-a{
  border: 2px solid @primary-color;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
     box-sizing: border-box;
}

body{
  margin: 0px;
  font-family: sans-serif;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

input {
  width: 100%;
}

canvas {
  background-color: #f1fdfd;
}

/*helpers*/
.align-left{
  text-align: left;
}

.align-right{
  text-align: right;
}

.align-center{
  text-align: center;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

.hidden{
  display: none;
}

.div-1-1{
  width: 100%;
  float: left;
}

.div-1-2 {
  width: 50%;
  float: left;
}

.div-1-3 {
  width: 33.33%;
  float: left;
}

.div-2-3 {
  width: 66.66%;
  float: left;
}

.div-1-4{
  width: 25%;
  float: left;
}

.div-3-4 {
  width: 75%;
  float: left;
}

.div-1-5{
  width: 20%;
  float: left;
}

.div-2-5{
  width: 40%;
  float: left;
}

.div-3-5{
  width: 60%;
  float: left;
}

.div-4-5{
  width: 80%;
  float: left;
}

.div-1-6{
  width: 33.33%;
  float: left;
}

.div-1-7{
  width: 14.28%;
  float: left;
}

.div-1-8{
  width: 12.5%;
  float: left;
}

.div-1-9{
  width: 11.11%;
  float: left;
}

.div-1-10{
  width: 10%;
  float: left;
}

.div-3-10{
  width: 30%;
  float: left;
}

.div-7-10{
  width: 70%;
  float: left;
}

.div-9-10{
  width: 90%;
  float: left;
}

.div-1-11{
  width: 9.09%;
  float: left;
}

.div-1-12{
  width: 8.33%;
  float: left;
}

.vdiv-1-1{
  height: 100%;
}

.vdiv-1-2{
  height: 50%;
}

.vdiv-1-3 {
  height: 33%;
}

.vdiv-2-3 {
  height: 66.67%;
}

.vdiv-1-5{
  height: 20%;
}

.vdiv-2-5{
  height: 40%;
}

.vdiv-3-5{
  height: 60%;
}

.vdiv-4-5{
  height: 80%;
}

.vdiv-2-10{
  height: 20%;
}

.vdiv-7-10{
  height: 70%;
}


.button{
  cursor: pointer;
  border-radius: 8px;
  background-color: @button-background-color-a;
  color: #000;
}
.button.disabled{
  background: #666;
}
.button:hover{
  background-color: @button-background-color-c;
}

.circle.button{
  border-radius: 50%;
}

.content-centered{
  display: flex;
  align-items: center;
  justify-content: center;
}

/* --- */
/* general */
/* --- */

.main{
  height: 100% !important;
  width: 100% !important;
}

#app {
  height: 100%;
}
#elm {
  height: 100%;
}

#elm > div {
  padding: 0px;
  margin: 0px;
  background-color: @background-color-a;
}

.app-top-bar{
  height: 5%;
  padding: 2px;
  color: @primary-text-color
}

.app-body{
  height: 95%;
  padding: 2px;
  color: @primary-text-color
}

.nav-header{
  margin-left: 4px;
}
/* --- */
/* home screen */
/* --- */

.monitor-panel-view {
  height: 42.5%;
}

.home-panel-view {
  height: 42.5%;
}
.sub-panel-view {
  height: 15%;
}

.monitor-view-container {
  box-sizing: border-box;
  height: 100%;
  display: inline-block;
  float: none;
}

.monitor-view-content{
  .tb-gradient(@button-background-color-a, @button-background-color-b);
}

.monitor-pager-view {
  height: 20%;
}

.monitor-views-parent{
  overflow-y: hidden;
}

.monitor-views {
  height: 120%;
  width: auto;
  overflow-x: scroll;
  white-space: nowrap;
}

.monitor-view {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.monitor-view.selected{
  background-color: @secondary-color;
}

.monitor-button-body {
  height: 85%;
  width: 100%;
}
.monitor-button-configuration {
  height: 15%;
  box-sizing: border-box;
  padding: 2px;
}
.monitor-configure-icon {
  height: 100%;
  float: right;
}

.power.button{

  color: #fff;
}

.power.button.pressed{
  background-color: #D33;
}

.power.button.disabled{
  background-color: #888;
}

.night-mode.button{
  color: #fbbb40;
}

.presets.button{
  color: #fff;
}

.button > img{
  width: 50%;
}

.monitor-button-label {
  text-align: center;
  /* width: 100%; */
  font-size: 28px;
  font-weight: bold;
}

.monitor-pager-view{
  clear: both;
}

.monitor-pager-icon{
  height: 100%;
}

.monitor-selectall-view{
  height: 100%;
  padding: 8px;
  box-sizing: border-box;
  position: relative;
}

.monitor-selectall-graphic{
  border-color: @primary-color;
  border-width: 2px 2px 0px 2px;
  border-style: solid;
  height: 100%;
  margin-top: 4px;
}

.monitor-selectall-container{
  height: 60%;
  width: 100%;
  top: 0;
  left: 0;
  text-align: center;
}

.monitor-selectall-button{
  width: 180px;
  border-radius: 8px;
  padding: 4px 14px;
  display: table;
  margin: 8px 0px;
}

.monitor-selectall-button > div{
  height: 100%;
}

.brightness-icon-container{
  width: 200%;
  margin-left: -50%;
}

.home-panel-division{
  text-align:center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-panel-button{
  margin: 0px auto 0px auto;
  padding: 20px;
  width: 180px;
  height: 180px;
  font-size: 40px;
}

.home-panel-count-button{
  height: 40%;
}

.home-panel-count-label{
  height: 20%;
  color: @primary-text-color;
}

.home-menu-item{
  text-align: center;
  color: @primary-text-color;
  cursor: pointer;
}

.home-menu-item:hover{
  text-align: center;
  background-color: @background-color-b-hover;
}

.home-panel-brightness-panel{
  width: 100%;
}

/* --- */
/* monitor setting */
/* --- */
.pip-button, .osd-button{
  width: 150px;
  height: 150px;
}

.select-options{
  position: absolute;
  margin-top: 20px;
}

.select-options-container{
  background-color: #000;
  margin: 0 8px;
  padding: 4px;
  .border-a;
}

.signal-matrix-view{
  clear: both;
  padding: 4px;
}

.clear-both{
 clear: both;
}

.signal-matrix-input{
  background-color: #fff;
  border-radius: 8px 8px 8px 8px;
  color: #000;
  height: 20px;
  text-align: center;
  .border-a;
}

.signal-matrix-side{
  background-color: @primary-color;
  height: 20px;
  border-radius: 0px 8px 8px 0px;
  border: 2px solid @primary-color;
}

.signal-matrix-side > select {
  width: 100%;
  background-color: @primary-color;
  border: 0px solid @primary-color;
}

.signal-matrix-option{
  cursor: pointer;
}

.signal-matrix-option:hover{
  background-color: #444;
}

.signal-matrix-label {
  text-align: center;
}

.signal-matrix-container{
  margin: 4px 4px;
}

.signal-matrix-container-activated{
  background-color: #4897DF;
}

.monitor-setting-upper-body{
  height: 50%;
}

.monitor-setting-lower-body{
  height: 50%;
}

.monitor-button {
}

.icon{
  width: 100%;
  height: 100%;
}

/* --- */
/* System Preferences */
/* --- */

.field-label{
  margin: 0px 10px 0px 10px;
}

/* --- */
/* preset setting */
/* --- */

.preset-button-container{
  text-align: center;
  position: relative;
  display: block;
}

.preset-button{
  color: #000;
  position: absolute;
  top: 25%;
  left: 10%;
}

.preset-button-input{
  height: 100%;
  text-align: center;
}

/* --- */
/* preset setting */
/* --- */
.button.menu{
  border: 1px solid #000;
  border-radius: 8px;
}

.menu-button {
  width: 30px;
}

.lock-countdown-timer{
  color: @primary-text-color;
}

.padded{
  margin: 8px;
}
